@import 'tachyons-ext';

$body-font: 'Fira Sans', Helvetica, Arial, sans-serif;
$header-font: 'Alfa Slab One', serif;

$gray: #2a3439;
$red: #a72145;
$green: #0b7261;
$purple: #2e2459;
$yellow: #ffc832;

html {
  font-size: 62.5%
}

@media screen and (min-width: 30em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: $body-font;
  background-color: white;

  /* Ensure the footer is always at the bottom of the screen */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  & > #main-content {
      flex: 1;
  }
}

blockquote {
    font-style: italic;
    position: relative;
    background-color: lighten($gray, 78%);
    border-left: 8px solid lighten($gray, 60%);
    border-radius: 5px;
    margin: 0;
    margin-bottom: 2rem;
    padding: 2rem;

    &:before {
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}

code {
  overflow: auto;
}

code.language-console::before,
code.language-bash::before {
  content: '$ ';
}

section {
  padding: 30px 0 60px 0;

  header {
    padding: 30px 0 60px 0;
    display: inline-block;

    h2 {
      font-size: 2.6em;
      font-family: $header-font;
      margin: 0;
      padding: 0;
      letter-spacing: 1px;
    }
  }
}

header h1, section h2 {
  z-index: 999999;
  position: relative;
}

header h1 {
  font-family: $header-font;
  font-size: 8rem;
  margin-bottom: 0;
  margin-top: 0;
}

section {
  padding: 30px 0 60px 0;
}

section .container {
  padding-top: 20px;
}

// TODO:  remove when switching to Tachyons -- these are overrides for Skeleton.
ul.nav, ul.nav li {
  margin-bottom: 0;
}

.nav a {
  color: $gray;
}

div.brand {
  $v-top: 3px; // for getting the vertical rhythm just right

  color: black;
  font-family: $header-font;
  font-size: 3rem;
  text-decoration: none;
  margin-top: $v-top;

  & a {
    color: black;
    text-decoration: none;
  }

  img {
    width: 80px;
    margin-top: -$v-top;
  }

  span {
    display: inline-block;
    margin-left: -1rem;
  }
}

.white {
   color: black;
  .highlight {
    background-color: $yellow;
  }
  a {
    color: $gray;
    text-decoration: underline;
  }
  .button.button-secondary {
    background-color: $yellow;
    border: 1px solid $yellow;
    color: $gray;
    text-decoration: none;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover, &:focus {
      border-color: $gray;
    }
  }
  code {
    color: black;
    background-color: rgba($gray, 0.05);
    border: 1px solid rgba($gray, 0.25);
  }

  a.anchor::before {
    content: "§";
    display: none;
    position: absolute;
    width: 1em;
    margin-left: -1em;
    text-decoration: none;
    opacity: 0.7;
    color: $gray;
    font-weight: normal;
  }
  :hover > a.anchor::before {
    display: block;
  }
  a.anchor:hover::before {
    opacity: 1;
  }
}

ul, ol {
  list-style-position: outside;
  padding-left: 1.2em;
}

.posts {
  background-color: $gray;
  color: white;
  .highlight {
    background-color: $red;
  }
  a {
    color: white;
    text-decoration: underline;
  }
  .button.button-secondary {
    background-color: $red;
    border: 1px solid $red;
    color: white;
    text-decoration: none;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover, &:focus {
      border-color: white;
    }
  }
  code {
    color: white;
    background-color: rgba(white, 0.15);
    border: 1px solid rgba(white, 0.65);
  }
}

table.post-list a {
  text-decoration: none;
}
table.post-list a:hover {
  text-decoration: underline;
}

nav.main {
  img {
    border-radius: 50%;
    margin-right: 0.5ex;
  }
}

.blogs {
  background-color: $gray;
  color: white;
  .highlight {
    background-color: $red;
  }
  a {
    color: white;
    text-decoration: underline;
  }
  .button.button-secondary {
    background-color: $red;
    border: 1px solid $red;
    color: white;
    text-decoration: none;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover, &:focus {
      border-color: white;
    }
  }
  code {
    color: white;
    background-color: rgba(white, 0.15);
    border: 1px solid rgba(white, 0.65);
  }
}

table.blog-list a {
  text-decoration: none;
}
table.blog-list a:hover {
  text-decoration: underline;
}
table.blog-list td {
  vertical-align: top;
}

.publish-date-author {
  color: $gray;
  margin: -60px 0 60px 0;
}

footer {
  padding: 30px 0;
  background-color: black;
  color: white;

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  a {
    color: $yellow;
    text-decoration: none;

    &:hover {
      color: $yellow;
      text-decoration: underline;
    }
  }
}

footer h4 {
  font-size: 1.2em;
  font-weight: 800;
}

footer img {
  width: 40px;
  padding: 0 10px;
}

footer .attribution {
  text-align: center;
  padding-top: 30px;
}

h3, .post h2, header h2 {
  display: inline-block;
  font-weight: 800;
  font-size: 1.8em;
  letter-spacing: normal;
}

.post {
  h2 {
    font-size: 2em;
  }
  
  h3 {
    display: block;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .right-thumbnail {
    float: right;
    width: 150px;
    margin-left: 15px;
    margin-bottom: 15px;
    clear: right;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

header h1 {
  letter-spacing: 1px;
}


.highlight {
  height: 12px;
  position: relative;
  top: 0;
  left: -10px;
  width: 120%;
  max-width: 90vw;
  border-radius: 2px;
}

@media screen and (max-width: 769px) {
  .highlight {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

