<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">

    <updated>{{feed_updated}}</updated>
    <title type="html">{{blog.title}}</title>
    <subtitle type="html">{{blog.description}}</subtitle>
    <author>
        <name>Angelos Drossos</name>
    </author>
    <rights>cc-by-nc-sa</rights>
    <id>https://develangel.gitlab.io/blog/{{blog.prefix}}</id>
    <link rel="self" type="application/atom+xml" href="https://develangel.gitlab.io/blog/{{blog.prefix}}feed.xml"/>
    <link rel="alternate" type="text/html" href="https://develangel.gitlab.io/blog/{{blog.prefix}}"/>
    <icon>https://develangel.gitlab.io/blog/images/{{blog.logo}}</icon>
    <generator uri="https://gitlab.com/DevelAngel/blog">blog</generator>
    {{#each posts}}
    <entry>
        <published>{{published}}</published>
        <updated>{{updated}}</updated>
        <title>{{title}}</title>
        <author>
            <name>{{author}}</name>
        </author>
        <rights>cc-by-nc-sa</rights>
        <id>https://develangel.gitlab.io/blog/{{../blog.prefix}}{{url}}</id>
        <link rel="alternate" type="text/html" title="{{title}}" href="https://develangel.gitlab.io/blog/{{../blog.prefix}}{{url}}"/>
        <content type="html" xml:base="https://DevelAngel.gitlab.io/{{../blog.prefix}}{{url}}">{{contents}}</content>
    </entry>
    {{/each}}
</feed>
