<footer>
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <div class="row">
      <div class="flex flex-row flex-wrap justify-between">
        <div class="w-auto-s w-50 pr3">
          <h4>RSS</h4>
          <ul class="flex flex-row flex-wrap">
           {{#each blogs}}
            <li class="tc pr2 pr4-ns flex-20-s"><a href="{{root}}{{feed_url}}">{{link_text}}</a></li>
           {{/each}}
          </ul>
        </div>
        <div class="w-auto-s w-50">
          <h4>Social</h4>
          <div class="flex flex-row flex-wrap">
            <a href="https://github.com/DevelAngel" target="_blank" rel="noopener" alt="github link"><img src="{{root}}images/github.svg" alt="github logo" title="GitHub"/></a>
            <a href="https://gitlab.com/DevelAngel" target="_blank" rel="noopener" alt="gitlab link"><img src="{{root}}images/gitlab-logo-700.svg" alt="gitlab logo" title="GitLab"/></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="flex flex-row flex-wrap justify-between">
        <div class="w-auto w-50-l pr3-l">
          <p>
          The source code for generating this website is dual-licensed:
          <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank" rel="noopener" alt="Apache license 2.0 link">Apache License, Version 2.0</a>
          or
          <a href="http://opensource.org/licenses/MIT" target="_blank" rel="noopener" alt="MIT license link">MIT license</a>
          and was derived from the project
          <a href="https://github.com/rust-lang/blog.rust-lang.org" alt="blog.rust-lang.org link">blog.rust-lang.org</a>.
          </p>
          <p>
          The blog posts are licensed under a
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
          </p>
        </div>
        <div class="w-auto w-50-l">
          <p>
            Third-party logos may be subject to third-party copyrights and trademarks,
            and are not available under the same license as the rest of the website.
          </p>
          <p>
          </p>
        </div>
      </div>
    </div>
    <div class="attribution">
      <spans id="copyright" property="dc:rights">&copy;
        <span property="dc:dateCopyrighted">2022</span>
        <span property="dc:publisher">Angelos Drossos</span>
      </spans>
      <br/>
      <span>If you have a specific question or concern about this website, please contact <a href="mailto:develangel.blog@mail.drossos.de">me</a>.</span>
    </div>
    <div class="attribution">
      <span>
      🚧
      This website is still work in progress.
      🚧
      </span>
      <br/>
      <span>
      🚧
      The source can be found <span><a href="https://gitlab.com/DevelAngel/blog">here</a></span>.
      🚧
      </span>
    </div>
  </div>
</footer>

<!-- scripts -->
<script src="{{root}}scripts/highlight.js"></script>
