<!-- Twitter card -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@rustlang">
<meta name="twitter:creator" content="@rustlang">
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="{{blog.description}}">
<meta name="twitter:image" content="{{root}}images/{{blog.twitter_card_image}}">

<!-- Facebook OpenGraph -->
<meta property="og:title" content="{{title}}" />
<meta property="og:description" content="{{blog.description}}">
<meta property="og:image" content="{{root}}images/{{blog.open_graph_image}}" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />

<!-- styles -->
<link rel="stylesheet" href="{{root}}styles/vendor.css"/>
<link rel="stylesheet" href="{{root}}styles/fonts.css"/>
<link rel="stylesheet" href="{{root}}styles/app.css"/>
<link rel="stylesheet" href="{{root}}styles/highlight.css"/>

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{root}}images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{root}}images/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{root}}images/favicon-32x32.png">
<link rel="icon" type="image/svg+xml" href="{{root}}images/favicon.svg">
<link rel="manifest" href="{{root}}images/site.webmanifest">
<link rel="mask-icon" href="{{root}}images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff">

 <!-- atom -->
 <link type="application/atom+xml" rel="alternate" href="https://DevelAngel.github.io/{{blog.prefix}}feed.xml" title="{{blog.title}}" />
