<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="DevelAngel's Blog.">
    {{> headers }}
  </head>
  <body>
    {{> nav }}
    {{~> page}}
    {{> footer }}
  </body>
</html>
