<nav class="main flex flex-row justify-center justify-end-l items-center flex-wrap ph2 pl3-ns pr4-ns">
  <div class="brand flex-auto w-100 w-auto-l self-start tc tl-l">
    <img class="v-mid ml0-l" alt="Logo" src="{{root}}images/me/tux-suit-ad.jpg">
    <span class="dib ml1 ml0-l">DevelAngel's Blog</span>
  </div>
</nav>
