{{#*inline "page"}}
<header class="mt3 mt0-ns mb4-ns">
  <div class="container flex flex-column flex-row-l justify-between-l">
    <div class="mw6-l">
      <p>Hey there!</p>
      <p>
      I am DevelAngel and this is my blog
      where I want to share my experience about different topics with you.
      </p>
    </div>
  </div>
</header>

<section id="blogs" class="blogs">
   <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <table class="blog-list collapse w-100 f2-l f2-m f3-s">
    <tr>
        <td class="bn"></td>
        <td class="bn"><h3 class="f0-l f1-m f2-s mt4 mb0">Blogs</h3></td>
    </tr>
    {{#each blogs}}
      <tr>
        <td class="tr o-60 pr4 pr5-l bn"><a href="{{root}}{{url}}">{{link_text}}</a></td>
        <td class="bn">{{description}}</td>
      </tr>
    {{/each}}
    </table>
  </div>
</section>
{{/inline}}
{{~> (parent)~}}
