<nav class="flex flex-row justify-center justify-end-l items-center flex-wrap ph2 pl3-ns pr4-ns">
  <div class="brand flex-auto w-100 w-auto-l self-start tc tl-l">
    <a href="{{root}}{{blog.prefix}}">
      <img class="v-mid ml0-l" alt="Logo" src="{{root}}images/{{blog.logo}}">
      <span class="dib ml1 ml0-l">{{blog.title}}</span>
    </a>
  </div>
  <ul class="nav list w-100 w-auto-l flex flex-none flex-row flex-wrap justify-center justify-end-l items-center pv2 ph0 ph4-ns">
  {{#each other_blogs}}
   <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="{{../root}}{{url}}">{{link_text}}</a></li>
  {{/each}}
  </ul>
</nav>
